services:
  webapi:
    image: infograbber
    build:
      context: .
      dockerfile: ${API_DOCKERFILE_PATH}
    ports:
      - "${API_PORT}:${API_PORT}"
    environment:
        - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
        - ASPNETCORE_URLS=http://+:${API_PORT}
#    depends_on:
#      - db

  ui:
    build:
      context: ./client
      dockerfile: ${UI_DOCKERFILE_PATH}   # should be "Dockerfile.dev"
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=${UI_PORT}
      - VITE_API_URL=http://localhost:${API_PORT}
    ports:
      - "${UI_PORT}:${UI_PORT}"
    depends_on:
      - webapi

#  db:
#    image: mcr.microsoft.com/mssql/server:2022-latest
#    environment:
#      SA_PASSWORD: "YourStrong!Passw0rd"
#      ACCEPT_EULA: "Y"
#    ports:
#      - "1433:1433"

#volumes:
#  db: {}
