name: Deploy Info Grabbger to Azure
env: 
  AZURE_WEBAPP_NAME: test-info-grabber-app

on:
  push:
    branches: ['main']
    workflow_dispatch:

permissions:
  contents: read

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        
      - name: Setup Docker
        uses: docker/setup-buildx-action@v3.11.1
        
      - name: Log into Docker
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
          
      - name: Build and Push Image
        uses: docker/build-push-action@v6.18.0
        with:
          push: true
          tags: ghcr.io/${{ env.REPO }}:${{ github.sha }}
          file: ./Dockerfile
      
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: none
    steps:
      - name: 'Deploy to Azure'
        uses: azure/webapps-deploy@v2.2.17
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: 'ghcr.io/${{ env.REPO }}:${{ github.sha }}'
