name: Deploy Info Grabber to Azure
env: 
  AZURE_WEBAPP_NAME: test-info-grabber-app
  REPO: alecallain/infograbber

on:
  push:
    branches: ['main']
    workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
        
      - name: Set Up Docker
        uses: docker/setup-buildx-action@v3.11.1
        
      - name: Set Up Node
        uses: actions/setup-node@v6
        with:
          node-version: '20.19.0'
      
      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'
        
      - name: Log into Docker
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
          
      - name: Build and Push Image
        uses: docker/build-push-action@v6.18.0
        with:
          push: true
          tags: ghcr.io/${{ env.REPO }}:${{ github.sha }}
          file: ./src/InfoGrabber/Dockerfile
      
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: none
    steps:
      - name: 'Deploy to Azure'
        uses: azure/webapps-deploy@v2.2.17
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: 'ghcr.io/${{ env.REPO }}:${{ github.sha }}'
